{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Destination</th>
            <th>Impressions</th>
            <th>Clicks</th>
            <th>Tracking Link</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{ stat.linkId }}</td>
                <td>{{ stat.name }}</td>
                <td>{{ stat.destination }}</td>
                <td>{{ stat.impressions|default(0) }}</td>
                <td>{{ stat.clicks|default(0) }}</td>
                <td>
                    <a href="{{ url('click', {'linkId':stat.linkId}) }}" target="_blank">
                        <pre>{{ url('click', {'linkId':stat.linkId}) }}</pre>
                    </a>
                </td>
                <td>
                    <a href="/link/edit/{{ stat.linkId }}">
                        Edit Link
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
