{% extends 'base.html.twig' %}
{% block title %}Add a link{% endblock %}
{% block body %}
    <form action="{{ action }}" method="POST">
        <div class="form-group">
            <label id="name">Name of link</label>
            <input type="text" value="{{ link.name|default('') }}" name="name" id="name" class="form-control" />
        </div>

        <div class="form-group">
            <label for="destination">Destination URL</label>
            <input type="text" value="{{ link.destination|default('') }}" name="destination" id="destination" class="form-control" />
        </div>

        <button type="submit" class="btn btn-default">Go</button>
    </form>

    <a href="/">Back</a>
{% endblock %}